@{
    ViewData["Title"] = "About";
}
<div ng-controller="about">
    <h2>@ViewData["Title"].</h2>
    <h3>@ViewData["Message"]</h3>
    {{ test }}
    <p>Use this area to provide additional information.</p>
</div>